---
---
@import "{{ site.theme }}";

section .vis {
  max-width: 720px;
}

header:before {
  background-image: url(https://raw.githubusercontent.com/wongj/placeholder/master/placeholder.png);
  background-size: 200px 200px;
  display: inline-block;
  width: 200px; 
  height: 200px;
  content:"";
}

footer, .view {
  display: none;
}
