---
---
@import "{{ site.theme }}";

section .vis {
  max-width: 720px;
}

:before {
  content: url(https://raw.githubusercontent.com/wongj/placeholder/master/placeholder.png); 
  width: 300px;
}

footer, .view {
  display: none;
}
